.main-content {
    padding: 0;
    margin: 0;
    height: 1000px;
}

.main-content__card {
    margin: 10px;
    background: rgb(36, 36, 36);;
    display: inline-block;
}

.main-content__card * {
    color: white;
}

.button {
    border: 3px solid white;
    color: white;
    background: black;
    margin: 5px;
    padding: 5px;
}

.button:active,
.button:hover {
    background: white;
    color: black;
    border: white;
}

.box {
    padding: 0;
    margin: 5px;
    display: inline-block;
    width: 18rem;
    height: 16rem;

}

.box:active,
.box:hover {
    margin: 0;
    padding: 0;
    cursor: pointer;
    transform: scale(1.1);

}

.box * {
    margin: 0;
    padding: 0;
}

.card {
    background:rgb(36, 36, 36);
}

.card-body {
    margin-top: 5px;
}

.card-body__picture {
    display: inline-block;
    float: left;
    width: 20%;
    height: 20%;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;
}

.title {
    font-size: 18px;
}

.date, .info {
    font-size: 12px;
}

.card-video{
    margin: 0;
    padding: 0;
    width: 100%;
}

.card-body__content {
    margin-left: 5px;
    display: inline-block;
}
.content-body_info > * {
    text-decoration: none;
    list-style: none;
}