div.navbar {
    display: flex;
    margin: 0;
    height: 55px;
    background: rgba(6,6,6,0.9);
    color: white;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

div.navbar-brand {
    display: flex;
    margin: 2px;
    padding: 0;
    font-size: 26px;
    width: 33%;
    font-weight: bold;
}

div.navbar-search{
    display: flex;
    width: 33%;
    justify-content: center;
    align-content: center;
    align-items: center;
}


div.navbar-button {
    display: flex;
    width: 33%;
    justify-content: flex-end;
}


.navbar-search__input {
    border-radius: 3px;
    background: rgba(255,255,255,0.15);
    color: white;
    width: 200px;
    height: 35px;
    font-size: 17px;
}

.navbar-serach__button {
    background: url("../img/search.png");
    width: 33px;
    height: 33px;
    padding: 0;
    margin-left: 3px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.15);
}

.navbar-serach__button:active,
.navbar-serach__button:hover {
    transform: scale(1.1);
}

.button {
    font: 15px bold white;
    color: white;
    background: black;
    border-radius: 5px;
    width: 15%;
    height: 30px;
    text-align: center;
    margin: 3px;
    font-weight: bolder !important;
}

.button:active,
.button:hover {
    color: black;
    background: white;
    cursor: pointer;
}

#direct-to-home {
    text-decoration: none;
    color: white;
}

#direct-to-home:link,
#direct-to-home:hover,
#direct-to-home:active {
    text-decoration: none;
    color: white;
}